/* Estilos para la barra de carga */
.contenedor-barra-carga {
  margin-left: 5%;
  margin-top: 3%;
  width: 80%;
  height: 5px; /* Altura de la barra de carga */
  background-color: #333; /* Color de fondo más oscuro */
  z-index: -1; /* Z-index para que esté detrás de todo */
}


.barra-carga {
  width: 100%;
  height: 100%;
  background-color: #00cc00; /* Color de la barra de carga */
  border-radius: 5px; /* Bordes redondeados */
  animation: llenarYVaciar 60s linear infinite;
}

/* Estilos para el texto de porcentaje */
.texto-porcentaje {
  color: white; /* Color del texto del porcentaje */
  z-index: 1; /* Z-index para que esté sobre la barra de carga */
}

@keyframes llenarYVaciar {
  0%, 100% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
}




/* Estilos generales para la terminal */
.terminal-linux2 {
	/*margin-left:43%;
    margin-top: -44%;*/
	position:absolute;
	bottom:0;
	right:12px;
    width: 54vw;
    height: 12vh;
  /*background-color: rgba(0, 0, 0, 0.7); /* Fondo semi transparente negro */
  font-family: monospace; /* Fuente de estilo de terminal */
  font-size: 14px;
  overflow: auto; /* Agregar barra de desplazamiento si el contenido excede el tamaño */
  border: 1px solid #ccc;
  padding: 0; /* Elimina el relleno interior para la barra de título */
  z-index: 3;
  background-color:black;
}

/* Estilos para la barra de título de la terminal */
.terminal-title2 {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 0; /* Elimina el margen interior del título */
  color: white !important; /* Agrega !important para forzar el color blanco */
}


/* Estilos para los botones de control */
.terminal-controls2 {
	margin-top: -19px;
	text-align:right;
    background-color: gray;
    gap: 5px;
}

/* Estilos para los botones de control */
.control-button2 {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
}

/* Estilos para los botones de control */
.control-button2.minimize2 {
  background-color: transparent;
}

/* Estilos para los botones de control */
.control-button2.maximize2 {
  background-color: transparent;
}

/* Estilos para los botones de control */
.control-button2.close2 {
  background-color: transparent;
}

/* Estilos para el texto de entrada y salida */
.terminal-input2 {
  color: white;
}

.terminal-output2 {
  color: white;
}

/* Estilos para el cursor */
.terminal-cursor2 {
  animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

